:root {
    --black-theme: #222;
    --white-theme: #fff;
    --white-theme-2: #eceff1;
    --silver-theme: #aaa;
    --dark-silver-theme: #767676;
    --orange-theme: #ff7b33;
    --light-orange-theme: #ff9c66;
    --dark-orange-theme:  #ff5a00;
    --green-theme: #1bb826;
}
