<template>
    <div class="list-container">
        <a id="image-channel" href="#" target="_blank" class="position-flex center">
            <img class="channel-logo">
        </a>
        <div id="title-channel" class="title">
            <h3></h3>
        </div>
        <div id="details-channel" class="position-flex space-between">
            <div id="subscribers">
                <p>Subscribers</p>
                <h4></h4>
            </div>
            <div id="videos">
                <p>Videos</p>
                <h4></h4>
            </div>
            <div id="views">
                <p>Views</p>
                <h4></h4>
            </div>
        </div>
    </div>
</template>

