<main class="wrapper__main js-content">
    <span>
        @@include('list.html')
    </span>
</main>
<div class="wrapper__filter">
    <div class="filter">
        <input id="filters" class="filter__input" type="text" placeholder="filter channels...">
    </div>
</div>
<aside class="wrapper__aside">
    <div class="sort">
        <h3 class="sort__header">Sort channels by:</h3>
        <ul class="sort__options">
            <li>
                <input class="choice choice--radio" name="sort" type="radio" id="sort-title">
                <label class="choice__label" for="sort-title">title</label>
            </li>
            <li>
                <input class="choice choice--radio" name="sort" type="radio" id="sort-subscribers">
                <label class="choice__label" for="sort-subscribers">subscribers</label>
            </li>
            <li>
                <input class="choice choice--radio" name="sort" type="radio" id="sort-videos">
                <label class="choice__label" for="sort-videos">videos</label>
            </li>
            <li>
                <input class="choice choice--radio" name="sort" type="radio" id="sort-views">
                <label class="choice__label" for="sort-views">views</label>
            </li>
        </ul>
        <button id="clear" class="button">Clear</button>
    </div>
</aside>
